.about {
    margin-top: 30px;
    padding-bottom: 70px;
    background: url(./images/gids-100.jpg) repeat;
    background-size: 1000px 2000px;
    padding-top: 81px;
}

.about__top {
    width: 100vw;
    margin-bottom: 50px;
}

.about__topGrid {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    flex-direction: column;
}

.about__topGridContent {
    display: block;
    text-align: center;
}

#about__relax {
    margin-top: 30px;
    font-size: 60px;
}

#about__hireExperts {
    font-size: 40px;
    font-weight: 500;
    color: rgb(70, 68, 68);
}

#about__hireExpertsII {
    font-size: 40px;
    font-weight: 500;
    color: yellow;
    margin-bottom: 20px;
}

.about__topGrid > img {
    max-width: 55%;
    height: auto;
}

.about__box {
    width: 80%;
    background-color: #38383d;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    margin-bottom: 50px;
    box-shadow: 4px 5px 5px rgb(95, 93, 93);
}

.about__box > h1 {
    margin-bottom: 20px;
    color: yellow;
}

.about__boxText {
    line-height: 25px;
    font-size: 14px;
}



@media(max-width: 960px) {
    .about__top {
        height: auto;
    }

    .about__topGrid > img {
        max-width: 60%;
    }

    .about__box {
        width: 100%;
    }
}