.homeServices {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 50px;
    background: url(./images/gids-100.jpg) repeat;
    background-size: 1000px 2000px;
}

#homeServices__ourServices {
    color: yellow;
    margin-bottom: 25px;
}

#homeServices__ourServicesII {
    margin-bottom: 50px;
}

.homeServices__carousel {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 50px; */
}

.homeServices__card {
    height: 300px;
    width: 250px;
    padding: 8px;
    background-color: white;
    -webkit-box-shadow: 0 0 10px #575454;
    box-shadow: 0 0 15px #575454;
    transition: all linear 200ms;
    margin: 25px 10px;
    border-radius: 10px;
}

.homeServices__card:hover {
    transform: scale(1.02);
    transition: all linear 200ms;
}

.homeServices__card > h2 {
    margin-bottom: 15px;
}

.homeServices__card > p {
    font-size: 13px;
    line-height: 20px;
}

.homeServices__cardIcon > img {
    margin-top: 30px;
    margin-bottom: 25px;
    height: 70px;
    width: auto;
}

@media(max-width: 610px) {

    .homeServices__carousel {
        width: 75%
    }
}